body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #228B22;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}

.login-header img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.login-header h2 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.login-box h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    box-sizing: border-box;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
    placeholder-color: #333;
    text-align: center;
}

.captcha-box {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.captcha-text {
    font-size: 24px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    color: #FF00FF;
}

.input-group button {
    width: 100%;
    padding: 12px;
    background-color: #fff;
    border: none;
    color: #228B22;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.input-group button:hover {
    background-color: #ddd;
}

.alert {
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}